#FPGA_GCLK
NET "C6_CLK_8MHZ" LOC = "N8" | IOSTANDARD = LVCMOS33;

#CLK_LFC
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;

#BTNs
#NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
#NET "LED_0" LOC = "N3" | IOSTANDARD = LVCMOS33;
#NET "LED_1" LOC = "P3" | IOSTANDARD = LVCMOS33;
#NET "LED_2" LOC = "N4" | IOSTANDARD = LVCMOS33;
#NET "LED_3" LOC = "P4" | IOSTANDARD = LVCMOS33;

#DEPP Signals
#NET "DEPP_WAIT" LOC = "B6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
#NET "DEPP_WRITE" LOC = "A7" | IOSTANDARD = LVCMOS33;
#NET "DBUS<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
#NET "DBUS<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs

#DATA0-7 (DIGILENT PORTD 26-33)
NET "SID_DATA<7>" LOC = "A3" | IOSTANDARD = LVTTL | PULLUP; # PIO_26 (pin26)
NET "SID_DATA<6>" LOC = "B3" | IOSTANDARD = LVTTL | PULLUP; # PIO_27 
NET "SID_DATA<5>" LOC = "A2" | IOSTANDARD = LVTTL | PULLUP; # PIO_28 
NET "SID_DATA<4>" LOC = "B1" | IOSTANDARD = LVTTL | PULLUP; # PIO_29 
NET "SID_DATA<3>" LOC = "C1" | IOSTANDARD = LVTTL | PULLUP; # PIO_30 
NET "SID_DATA<2>" LOC = "D1" | IOSTANDARD = LVTTL | PULLUP; # PIO_31 
NET "SID_DATA<1>" LOC = "D2" | IOSTANDARD = LVTTL | PULLUP; # PIO_32   
NET "SID_DATA<0>" LOC = "E1" | IOSTANDARD = LVTTL | PULLUP; # PIO_33 (pin33)

#CTRL (41-43)

NET "SID_RES" LOC = "J1" | IOSTANDARD = LVTTL | PULLUP; # PIO_41 (pin41)
NET "SID_CLK" LOC = "J2" | IOSTANDARD = LVTTL | PULLUP; # PIO_42 (pin42)
NET "SID_CS" LOC = "K1" | IOSTANDARD = LVTTL | PULLUP; # PIO_43 (pin43)

#ADDR (DIGILENT 44-48)

NET "SID_ADDR<4>" LOC = "K2" | IOSTANDARD = LVTTL | PULLUP; # PIO_44 (pin44)
NET "SID_ADDR<3>" LOC = "L1" | IOSTANDARD = LVTTL | PULLUP; # PIO_45 (pin45)
NET "SID_ADDR<2>" LOC = "L2" | IOSTANDARD = LVTTL | PULLUP; # PIO_46 (pin46)
NET "SID_ADDR<1>" LOC = "M1" | IOSTANDARD = LVTTL | PULLUP; # PIO_46 (pin47)
NET "SID_ADDR<0>" LOC = "M2" | IOSTANDARD = LVTTL | PULLUP; # PIO_48 (pin48)

