#FPGA_GCLK
NET "C6_CLK_8MHZ" LOC = "N8" | IOSTANDARD = LVCMOS33;

#CLK_LFC
#NET "CLK_LFC" LOC = "N7" | IOSTANDARD = LVCMOS33;

#BTNs
NET "BTN_0" LOC = "P8" | IOSTANDARD = LVCMOS33;
#NET "BTN_1" LOC = "P9" | IOSTANDARD = LVCMOS33;

#LEDs
NET "C6_LED<0>" LOC = "N3" | IOSTANDARD = LVCMOS33;
NET "C6_LED<1>" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "C6_LED<2>" LOC = "N4" | IOSTANDARD = LVCMOS33;
NET "C6_LED<3>" LOC = "P4" | IOSTANDARD = LVCMOS33;

#DEPP Signals
#NET "DEPP_WAIT" LOC = "B6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_ASTB" LOC = "A6" | IOSTANDARD = LVCMOS33;
#NET "DEPP_DSTB" LOC = "B7" | IOSTANDARD = LVCMOS33;
#NET "DEPP_WRITE" LOC = "A7" | IOSTANDARD = LVCMOS33;
#NET "DBUS<0>" LOC = "B9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<1>" LOC = "A9" | IOSTANDARD = LVCMOS33;
#NET "DBUS<2>" LOC = "B10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<3>" LOC = "A10" | IOSTANDARD = LVCMOS33;
#NET "DBUS<4>" LOC = "B11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<5>" LOC = "A11" | IOSTANDARD = LVCMOS33;
#NET "DBUS<6>" LOC = "B12" | IOSTANDARD = LVCMOS33;
#NET "DBUS<7>" LOC = "A12" | IOSTANDARD = LVCMOS33;

#IO PORTs

#pio 1-4   : p5 n5 n6 p7
#pio 5-8   : P12 N12 L14 L13
#pio 9-12  : k14 k13 j14 k13
#pio 13-16 : h14 h13 f14 f13

#pio 26-29 : a3 b3 a2 b1 
#pio 30-33 : c1 d1 d2 e1
#pio 34-37 : e2 f1 f2 h1
#pio 38-41 : h2 g1 g2 j1
#pio 42-45 : j2 k1 k2 l1
#pio 46-48 : l2 m1 m2 

#pio1 sid_not_res
#pio2 sid_clk
#pio3 sid_not_cs
#pio 4-8 sid_addr0-4
#pio 41-48 sid_data0-7

NET "SID_NOTRES" LOC = "P5" | IOSTANDARD = LVTTL;                                                                    
NET "SID_CLK" LOC = "N5" | IOSTANDARD = LVTTL;
NET "SID_NOTCS" LOC = "N6" | IOSTANDARD = LVTTL;

NET "SID_ADDR<0>" LOC = "P7" | IOSTANDARD = LVTTL;
NET "SID_ADDR<1>" LOC = "P12" | IOSTANDARD = LVTTL;
NET "SID_ADDR<2>" LOC = "N12" | IOSTANDARD = LVTTL;
NET "SID_ADDR<3>" LOC = "L14" | IOSTANDARD = LVTTL;
NET "SID_ADDR<4>" LOC = "L13" | IOSTANDARD = LVTTL;

NET "SID_DATA<0>" LOC = "J1" | IOSTANDARD = LVTTL;
NET "SID_DATA<1>" LOC = "J2" | IOSTANDARD = LVTTL;
NET "SID_DATA<2>" LOC = "K1" | IOSTANDARD = LVTTL;
NET "SID_DATA<3>" LOC = "K2" | IOSTANDARD = LVTTL;
NET "SID_DATA<4>" LOC = "L1" | IOSTANDARD = LVTTL;
NET "SID_DATA<5>" LOC = "L2" | IOSTANDARD = LVTTL;
NET "SID_DATA<6>" LOC = "M1" | IOSTANDARD = LVTTL;
NET "SID_DATA<7>" LOC = "M2" | IOSTANDARD = LVTTL;

